@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #000000 16.62%, #3d0208 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 63px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #ffffff;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: whitesmoke;
}

.conteudo-principal-escrito-subtitulo {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: whitesmoke;
    text-align: center;
}

.conteudo-principal-escrito-botao{
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgb(0, 0, 0);
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(196, 196, 196, 0.53);
}

.conteudo-principal-imagem {
    height: 300px;
  }
  
  .conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
  }
  
  .conteudo-secundario-titulo {
    border-top: 0.4px solid #ffffff;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 16px;
  }
  
  .conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
  }

.rodape {
    padding: 32px;
    border-top: 0.4px solid white;

}

.rodape-imagem{
    height: 50px;
    display: block;
    margin: 0 auto;
}



